<style>
    .fnc {
        padding: 1%;
        margin: 1%;
        background: lightgrey;
        color: white;
        width: 100%;
    }
</style>



<div class="fnc">{{.Pc}})->{{.Ru}}</div>
<div class="fnc">file {{.Fn}}</div>
<div class="fnc">line {{.Line}}</div>
